.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 500px;
    width: 60%;
    height: calc(var(--min-height) - 3*var(--main-padding));
    padding-block: var(--main-padding);
    padding-inline: calc(2* var(--main-padding));
    background: var(--color-bg-ternary);
}

.input {
    flex-grow: 1;
    height: calc(var(--min-height) - 3*var(--main-padding));
    margin: 5px;
    width: inherit;
}

.input-container:has(.input:hover) {
    outline: 1px solid var( --color-gray-secondary);
}

.input-container:has(.input:focus) {
    outline: 2px solid white;
}

/* For mobile phones */
@media screen and (max-width: 400px) { 
    .input-container {
        width: 100%;
    }
}