.category {
    overflow: auto;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: relative;
    overflow: auto;
}

.category-body {
    display: grid;
    gap: var(--secondary-padding);
    padding: var(--secondary-padding);
}