.home {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: relative;
    overflow: auto;
}

.home-main {
    margin-top: var(--main-padding);
    padding-inline: var(--secondary-padding);
}

/* For mobile phones */
@media screen and (max-width: 400px) { 

    .home-main {
        padding-bottom: var(--min-width);
    }

    
}