.home {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: relative;
    overflow: auto;
}

.home-main {
    margin-top: calc(var(--nav-bar-bg-height) - var(--nav-bar-height));
    padding-inline: var(--secondary-padding);
}

