.card {
    max-width: 184px;
    padding: 16px;
    border-radius: 5px;
    background-color: var(--color-bg-light);
    flex-grow: 1;
    cursor: pointer;
}

.card-plain {
    max-width: 184px;
    border-radius: 5px;
    flex-grow: 1;
    cursor: pointer;
    padding: var(--main-padding);
}

.card-plain:hover {
    background-color: var(--color-bg-light);
}

.card-plain .card-name {
    font-size: var(--font-size-small);
    margin-top: var(--main-padding);
}

.card-plain .card-desc {
    display: none;
}

.card-name {
    font-family: spotify-sans-bold;
    margin-top: 16px;
}

.card-img-container {
    background-color: transparent;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    max-width: inherit;
    width: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.card-img {
    height: auto;
    width: 100%;
    border-radius: inherit;
}

.card-play-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: var(--main-padding);
    display: none;
}

.card-desc {
    margin-top: 16px;
    font-size: var(--font-size-small);
    color: var(--color-gray);
}

.card:hover .card-play-button {
    display: block;
}

.card:hover {
    background-color:var(--color-bg-ternary);
}

/* For mobile phones */
@media screen and (max-width: 400px) {
    .card:hover .card-play-button {
        display: none;
    }

    .card:hover {
        background-color: var(--color-bg-light);
    }    
}