.nav-bar {
    position: sticky;
    top: 0px;
    left: 0px;
    height: var(--nav-bar-height);
    border-top-left-radius: inherit ;
    border-top-right-radius: inherit ;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 var(--secondary-padding);
    display: flex;
}

.nav-bar-left, .nav-bar-right {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-bar-right {
    justify-content: end;
}

.nav-bar-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 2*var(--secondary-padding));
    z-index: 0;
    padding-top: var(--nav-bar-height);
    padding-inline: var(--secondary-padding);
}

/* For mobile phones */
@media screen and (max-width: 400px) {
    .nav-bar-background {
        display: none;
    }

    .nav-bar {
        flex-direction: column-reverse;
        height: auto;
        padding: var(--main-padding);
        gap: var(--secondary-padding);
    }

    .nav-bar-right {
        align-items: flex-start;
        width: 100%;
    }

    .nav-bar-left {
        width: 100%;
    }
}