.nav-bar {
    position: sticky;
    top: 0px;
    left: 0px;
    height: var(--min-height);
    border-top-left-radius: inherit ;
    border-top-right-radius: inherit ;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 var(--secondary-padding);
    display: flex;
}

.nav-bar-left, .nav-bar-right {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-bar-right {
    justify-content: end;
}

.nav-bar-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 100%;
    z-index: 0;
}