.search {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.search-browser {
    padding: var(--secondary-padding);
}

.search-browser-header {
    font-size: var(--font-size-large);
    font-family: spotify-sans-bold;
}

.search-browser-body {
    margin-top: var(--secondary-padding);
    display: grid;
    gap: var(--secondary-padding);
}

/* For mobile phones */
@media screen and (max-width: 400px) { 

    .search-browser {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: var(--min-width);
    }
    .search-browser-body {
        gap: var(--secondary-padding);
    }

}