.player {
    display: flex;
    height: 100%;
    width: 100%;
}

.player-left {
    display: flex;
    flex: 1;
    gap: var(--main-padding);
}

.player-song-img-container {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--color-gray-secondary);
    border-radius: 5px;
}

.player-song-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-song-name {
    font-size: var(--font-size-small);
}

.player-song-artist {
    font-size: var(--font-size-x-small);
    color: var(--color-gray);
}

.player-center {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--secondary-padding);
}

.player-progress {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 70%;
}

.player-time {
    font-size: var(--font-size-x-small);
    color: var(--color-gray);
    margin-inline: 10px;
}

.player-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--main-padding);
}

.player-vol-img {
    cursor: pointer;
}

.player-vol {
    width: 30%;
    margin-bottom: 2px;
    margin-right: var(--secondary-padding);
}


/* For mobile phones */
@media screen and (max-width: 400px) { 
    .player {
        position: absolute;
        height: 50px;
        bottom: var(--min-width);
        background-color: rgba(0, 0, 0, 0.8);
        width: 95%;
        left: 2.5%;
        border-radius: 10px;
        z-index: 10;
    }

    .player-previous, .player-next, .player-right, .player-time {
        display: none;
    }


    .player-progress {
        position: absolute;
        left: 2.5%;
        bottom: calc(var(--main-padding)*-1);
        width: 95%;
    }

    .player-left {
        align-items: center;
    }

    .player-song-img-container {
        margin: var(--main-padding);
        height: 80%;
    }

    .player-center {
        flex-direction: row;
        align-items: center;
        flex: 0;
        margin: var(--secondary-padding);
    }
}