.App {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2*var(--main-padding));
    padding: var(--main-padding);
    box-sizing: content-box;
}

.app-body {
    display: flex;
    flex-grow: 1;
}

.app-side-bar {
    margin-right: calc(var(--main-padding) - var(--resizer-width));
    overflow: hidden;
    display: flex;
}

.app-resizer{
    border-left: 1px solid var(--color-gray-secondary);
    width: var(--resizer-width);
    height: 100%;
    cursor: col-resize;
    opacity: 0;

    /* To stop dragging the div while moving the mouse.*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app-resizer:hover {
    opacity: 1;
}

.app-side-bar-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--main-padding)
}

.app-side-bar-menu {
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
}

.app-side-bar-library {
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.app-side-bar-library-head {
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-side-bar-library-body {
    height: calc(100vh - 3*var(--min-height) - var(--min-width) - 3*var(--main-padding));
}

.app-main {
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - var(--min-width) - 2*var(--main-padding));
}

.app-player {
    min-height: var(--min-height);
    margin-block: var(--main-padding);
}