.App {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2*var(--main-padding));
    padding: var(--main-padding);
    box-sizing: content-box;
}

.app-body {
    border: solid red 1px;
    display: flex;
    flex-grow: 1;
}

.app-side-bar {
    border: solid green 1px;
    margin-right: calc(var(--main-padding) - var(--resizer-width));
    overflow: hidden;
    display: flex;
}

.app-resizer{
    border-left: 1px solid var(--color-gray);
    width: var(--resizer-width);
    height: 100%;
    cursor: col-resize;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app-side-bar-main {
    flex-grow: 1;
}

.app-main {
    border: solid green 1px;
    flex-grow: 1;
}

.app-player {
    border: solid red 1px;
    height: 72px;
}