:root {
    --color-gray: #B3B3B3;
    --color-gray-secondary: #535353;
    --color-white: #FFFFFF;
    --color-bg: #121212;
    --color-bg-light: #181818;
    --color-bg-secondary: #212121;
    --color-bg-ternary: #282828;
    --color-primary-green: #1ed760;
    --color-secondary-green: #1db954;
    --main-padding: 8px;
    --secondary-padding: 24px;
    --resizer-width: 5px;
    --border-radius: 7px;
    --min-width: 72px;
    --min-height: 56px;
    --font-size-primary: 16px;
    --font-size-small: 14px;
    --font-size-medium: 20px;
    --font-size-x-medium: 22px;
    --font-size-large: 24px;
    --font-size-x-large: 32px;
    --font-size-xx-large: 64px;
    --font-size-xxx-large: 96px;
    --nav-bar-bg-height: calc((100vh - var(--min-width))/2 - 2 * var(--main-padding));
    --nav-bar-height: calc(var(--min-height) + var(--main-padding));
}

body {
    font-family: spotify-sans-semi-bold;
    font-size: var(--font-size-primary);
    background-color: black;
    margin: 0;
    color: var(--color-white);
    box-sizing: border-box;
}

.react-link {
    text-decoration: none;
}

input {
    background: var(--color-bg-ternary);
    outline: none;
    border: none;
    font-family: spotify-sans;
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 0px;
    height: 15px;
}

::-webkit-scrollbar-track {
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3)
}