:root {
    --color-gray: #B3B3B3;
    --color-gray-secondary: #535353;
    --color-white: #FFFFFF;
    --color-bg: #121212;
    --color-bg-secondary: #212121;
    --color-primary-green: #1ed760;
    --color-secondary-green: #1db954;
    --main-padding: 8px;
    --resizer-width: 5px;
    --border-radius: 7px;
    --min-width: 72px;
    --min-height: 56px;
}

body {
    font-family: spotify-sans-semi-bold;
    background-color: black;
    margin: 0;
    color: var(--color-white);
    box-sizing: border-box;
}

.react-link {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3)
}